<div class="container">
  <% if policy(Service).create? %>
    <%= link_to "Add a service", new_service_path, class: "btn text-white my-3 add"%>
  <% end %>
  <h1>Craftsmen services</h1>

  <% @services.each do |service|  %>
    <div class="card-product my-3">
    <img src="<%= image_path("#{service.specialty}.jpg")%>" alt="">
      <div class="card-product-infos">
        <h2><%= link_to service.title, service_path(service), class: 'text-decoration-none'%></h2>
        <p><strong><%= service.specialty %></strong></p>
        <p><%= service.presentation %></p>
      </div>
    </div>
  <% end %>
</div>
