<div class="banner text-white">
  <div class="container">
    <h2><%= @service.title %></h2>
    <h4><%= @service.specialty %></h4>
  </div>
  <% if @service.user == current_user %>
    <%= link_to "Edit service", edit_service_path(@service), class:"btn text-white button-artesano button-edit"%>
    <%= link_to "Delete service", service_path(@service), method: :delete, class:"btn text-white button-artesano", data: {confirm: "Etes-vous sûr(e) ?"} %>
  <% end %>
</div>
<div class="container my-5">
  <h3 class="font-size-36">Description:</h3>
  <p class="mb-4 font-size-24"> <%= @service.presentation %> </p>
  <%= link_to "Create new intervention", new_service_intervention_path(@service), class:"btn text-white button-artesano"%>
</div>
<div class="container my-5 shadow p-3">
  <div class="rounded", style="width: 100%; height: 600px;"
    data-controller="mapbox"
    data-mapbox-markers-value="<%= @markers.to_json %>"
    data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>
