<div class="containter">
  <h2><%= @service.title %></h2>
  <h4><%= @service.specialty %></h4>
  <p> <%= @service.presentation %> </p>
  <% if @service.user == current_user %>
    <%= link_to "Edit service", edit_service_path(:id) %>
    <%= link_to service_path(@service), method: :delete do %>
      <i class="fas fa-trash"></i>
    <% end %>
  <% end %>
  <%= link_to "Create new intervention", new_intervention_path(@service) %>
</div>
