<h2 class="log">Log in</h2>

<div class="mx-auto w-25">
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>


    <div class="form-actions btn btn-primary btn-sm mx-auto w-25 px-5 justify-content-center">
      <%= f.button :submit, "Log in", class: "text-white" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
