<%# Ajouter photos!! %>
<div class="mx-auto w-50">
  <div class="container mt-3">
      <h1><%= @service.title %></h1>
    <%= simple_form_for(@intervention) do |f| %>
      <%= f.input :date %>
      <%= f.input :description %>
      <%= f.submit class: 'btn text-white mt-2 button-create' %>
    <% end %>
  </div>
</div>
