<div class="container">
  <%# <h1><%= @intervention.service.title</h1> %>
  <h2><%= @intervention.date %></h2>
  <h2><%= @intervention.description %></h2>

  <% if @intervention.user == current_user %>
    <%#= link_to "Edit intervention", edit_intervention_path(:id) %>
    <%#= link_to intervention_path(@intervention), method: :delete do %>
      <%# <i class="fas fa-trash"></i> %>
    <%# end %>
  <% end %>
  <div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
